<!DOCTYPE html>
<html>
    <head>       
    </head>
    <body>
        <header>
            <img src="/img/logo-mercado-liebre.svg" alt="Logo" width="400" >
            <p>Lugar para poner barra de búsqueda</p>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </header>
        <main>
            <section>
                <h2>Basado en tu última visita</h2>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" width="300">
                <ul type="none">
                    <li>$2000</li>
                    <li>20% off</li>
                    <li><strong>Cafetera Moulinex</strong> </li>
                </ul>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="300">
                <ul type="none">
                    <li>$85000</li>
                    <li>Sin descuento</li>
                    <li><strong>Samsung Galaxy</strong> </li>
                </ul>
            </section>
            <section>
                <h2>Sección de ofertas</h2>
                <img src="/img/img-macbook-pro-2019.jpg" alt="Mackbook Pro 2019" width="300">
                <ul type="none">
                    <li>$150000</li>
                    <li>10% off</li>
                    <li><strong>Mackbook Pro 2019</strong> </li>
                </ul>
                <img src="/img/img-tv-samsung-smart.jpg" alt="TV Samsung" width="300">
                <ul type="none">
                    <li>$65000</li>
                    <li>25%</li>
                    <li><strong>TV Samsung</strong> </li>
                </ul>
            </section>        
        </main>
        <footer>
                <h4>Pagá con tarjeta on en efectivo</h4>
                <p>Con MercadoLiebreCash tenés cuotas sin<br> 
                intereses con tarjeta o efectivo en puntos de<br>
                pago ¡Y siempre es seguro!</p>
                <h4>Envío gratis desde los $2500</h4>
                <p>Solo por estar registrado en Mercado Liebre<br>
                tenés envíos gratis en miles de productos. Es<br>
                un beneficio de Mercado Puntos.</p>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre<br>
                no hay nada que no puedas hacer porque estás<br>
                siempre protegid@</p>
                <p>Copiryght © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>    
    </body>
</html>